{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Projects index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Langue d'origine</th>
                <th>Sources</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.nom }}</td>
                <td>{{project.langueOrigine}}</td>
                <td>{% for source in project.sources %}
                    {{ source.titre}}<br>
                {% endfor %}</td>
                <td>
                    <a class="btn btn-light" href="{{ path('app_projects_show', {'id': project.id}) }}">Show</a>
                    <a class="btn btn-dark" href="{{ path('app_projects_edit', {'id': project.id}) }}">Edit</a>
                    <a class="btn btn-primary" href="{{ path('app_sources_index', {'id': project.id}) }}">Sources</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_projects_new') }}">Create new</a>
{% endblock %}
