{% extends 'base.html.twig' %}

{% block title %}Sources index{% endblock %}

{% block body %}
    <h1>Sources index</h1>
    <a class="btn btn-success" href="{{ path('app_sources_new', {'idProject': idProject}) }}">Add a new source</a><br>
     <a class="btn btn-secondary my-2" href="{{ path('app_source_csv', {'id': idProject}) }}">Import sources( csv )</a>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Source</th>
                <th>Original language</th>
                <th>Translate language</th>
                <th>Translate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <td>{{ source.titre }}</td>
                <td>{{ source.contenu }}</td>
                <td>{{ source.langueOrigin }}</td>
                <td>{{ source.LangueTraduction }}</td>
                <td>{%if source.traduction == null %}
                        <h6>The source is not translated yet</h6>
                    {% endif %}
                {{ source.traduction }}</td>
                <td>
                    <a class="btn btn-light"href="{{ path('app_sources_show', {'id': source.id}) }}">Show</a>
                    <a class="btn btn-dark"href="{{ path('app_sources_edit', {'id': source.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
