{% extends 'base.html.twig' %}

{% block title %}Sources index{% endblock %}

{% block body %}
    <h1>Sources index</h1>
    <a href="{{ path('app_sources_new', {'idProject': idProject}) }}">Créer une source</a><br>
     <a href="{{ path('app_source_csv', {'id': idProject}) }}">Importer des sources( csv )</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Source</th>
                <th>Langue d'rigine</th>
                <th>Langue traduction</th>
                <th>Traduction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr>
                <td>{{ source.id }}</td>
                <td>{{ source.titre }}</td>
                <td>{{ source.contenu }}</td>
                <td>{{ source.langueOrigin }}</td>
                <td>{{ source.LangueTraduction }}</td>
                <td>{%if source.traduction == null %}
                        <h6>la source n'est pas encore traduite</h6>
                    {% endif %}
                {{ source.traduction }}</td>
                <td>
                    <a href="{{ path('app_sources_show', {'id': source.id}) }}">show</a>
                    <a href="{{ path('app_sources_edit', {'id': source.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
