{% extends 'base.html.twig' %}

{% block title %}Sources{% endblock %}

{% block body %}
    <h1>Sources</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ source.titre }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ source.contenu }}</td>
            </tr>
            <tr>
                <th>Original language</th>
                <td>{{ source.langueOrigin }}</td>
            </tr>
            <tr>
                <th>Translate language</th>
                <td>{{ source.LangueTraduction }}</td>
            </tr>
            <tr>
                <th>Translate</th>
                <td>{{ source.traduction }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('app_sources_edit', {'id': source.id}) }}">Edit</a>

    
{% endblock %}
